*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2%;
    background-color: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 8%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #121212;
}

.logo{
    width: 80px;
    height: 60%;
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    font-weight: 700;
    background-color: #f5c518;
    color: #000;
}

main{
    margin-top: 8%;
}

footer{
    width: 100%;
    height: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: small;
    color: #808080;
}

section:last-child{
    margin-bottom: 4%;
}

#entrevistas-making-of, #top10, #sugestoes{
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.section-title{
    font-size: 1.5em;
    font-weight: bolder;
    color: #f5c518;
}

.making-of-videos{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    margin: 2% 0;
}

.mk-video{
    width: 300px;
    height: 80%;
    margin: 0 2%;
}

.mk-video-iframe{
    width: 300px;
    height: 200px;
}

.mk-description{
    display: flex;
    justify-content: space-between;
}

.film-title{
    font-size: larger;
}

.p-bold{
    display: flex;
    font-weight: bold;
}

.more-videos{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button-more-videos{
    height: 30px;
    margin-bottom: 4%;
    border: 0;
    border-radius: 3px;
    background-color: grey;
    color: #fff;
    cursor: pointer;
}

.top10-list{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
    margin: 2% 0;
}

.top10-card{
    width: 500px;
    display: flex;
    margin: 0 1%;
    border-radius: 4%;
    background-color: #121212;
}

.top10-number{
    width: 300px;
    height: 300px;
}

.top10-poster{
    position: relative; 
    top: 38px;
    right: 4px;
    width: 200px;
    height: 220px;
    background-color: lightcyan;
    cursor: pointer;
}

.sugestoes-container{
    display: flex;
    width: 100%;
    height: 60vh;
    margin: 2% 0;
}

.sugest-videos{
    width: 50%;
}

.sgst-video{
    width: 100%;
    height: 20vh;
    display: flex;
    background-color: #808080;
    border-radius: 6px;
}

.sgst-video > iframe{
    width: 40%;
    height: 100%;
}

@media screen and (min-width: 320px) and (max-width: 680px){
    main{
        margin-top:  16%;
    }

    .section-title{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
    }

    .making-of-videos{
        justify-content: flex-start;
        align-items: center;
        overflow-y: scroll;
    }

    .mk-video{
        margin: 0 6%;
    }

    .top10-card{
        width: 300px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 8% 0 0;
    }

    .top10-card:last-child{
        margin-right: 0;
    }

    .top10-number{
        width: 30px;
        height: 30px;
    }

    .top10-poster{
        width: 200px;
        height: 300px;
        position: inherit;
        border-radius: 0 0 4% 4%;
    }
}